<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Base Meta -->
    <title>Nekos - large catgirl database</title>
    <meta name="description" content="A very large catgirl database">
    <meta name="keywords" content="nekos, catgirl, nsfw, sfw, nyaa, images, lewd, neko images, meow, anime, manga">
    <meta name=" theme-color" content="#aec6cf">
    <link rel="icon" href="/images/favicon.png">
    <!-- JQuery -->
    <script src="/vendor/jquery-3.5.0.min.js"></script>
    <!-- CSS Shit -->
    <link rel="stylesheet" href="/vendor/terminal.min.css"/>
    <link rel="stylesheet" href="/css/main.css">
    <!-- Dropzone -->
    <link rel="stylesheet" href="/vendor/dropzone/basic.min.css">
    <link rel="stylesheet" href="/vendor/dropzone/dropzone.min.css">
    <script src="/vendor/dropzone/dropzone.min.js"></script>
    <!-- Axios -->
    <script src="/vendor/axios.min.js"></script>