<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nekos.vip</title>

    <script
    src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/dropzone/basic.min.css">
    <link rel="stylesheet" href="/dropzone/dropzone.min.css">
    <script src="/dropzone/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>