<style>
    /* Add a black background color to the top navigation */
.topnav {
  background-color: var(--background-color);
  overflow: hidden;
  top:0;
  position: fixed;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #343435;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2896d6;
  color: white;
}
</style>

<div class="topnav">
  <a class="active" href="#home">HOME</a>
  <a href="#news">NSFW</a>
  <a href="#contact">Upload</a>
  <a href="#about">API</a>
</div>