<link rel="stylesheet" href="/css/navbar.css">

<div class="topnav">
  <a id="HOMETAB" href="/">HOME</a>
  <a id="NSFWTAB" href="/nsfw">NSFW</a>
  <a id="UPLOADTAB" href="/upload">UPLOAD</a>
  <a id="APITAB" href="/docs">API</a>
</div>

<script src="/scripts/navbar.js"></script>