<!DOCTYPE html>
<html>

<head>
    <%- include('partials/meta'); %>
</head>

<body>
    <%- include('partials/navbar'); %>
    <div class="centered">
        <div style="width: 500px; text-align: center;" class="terminal-card">
            <header>API Docs</header>
            <div>Hello and welcome to nekos.vip!<br>This is the api/site for high quality neko images.<br>Below is some information on how to use the API!</div>
            <div style="margin-bottom: 20px;"><br>There are two endpoints for images.<br><br><b>https://nekos.vip/api/img/sfw</b><br><b>https://nekos.vip/api/img/nsfw</b></div>
        </div>
    </div>
</body>

</html>