<!DOCTYPE html>
<html>

<head>
    <%- include('partials/meta'); %>
    <link rel="stylesheet" href="/css/docs.css">
</head>

<body>
    <%- include('partials/navbar'); %>
    <div class="centered">
        <div style="width: 500px; text-align: center;" class="terminal-card">
            <header>API Docs</header>
            <div>Hello and welcome to waifu.pics!<br>This is the api/site for high quality waifu images.<br>Below is some information on how to use the API!</div>
            <div style="margin-bottom: 20px;"><br>Below are the image endpoints.<br>
                <% endpoints.map((endpoint)=>{%>
                    <br><b>https://waifu.pics/api/img/<%= endpoint %></b>
                <%}) %>
            
            </div>
        </div>
    </div>
</body>

</html>