<!DOCTYPE html>
<html>

<head>
    <%- include('partials/meta'); %>
    <link rel="stylesheet" href="/css/grid.css">
</head>

<body>
    <%- include('partials/navbar'); %>
    <section id="photos">

    </section>

    <div id="relArea" style="text-align: center; margin: 0 auto;">
        <div id="endMsg" class="terminal-alert terminal-alert-error bigErr"  style="margin: auto; margin-top: 30px;">You have reached 30 results.</div>
        <button class="btn btn-primary btn-ghost" id="relBtn" style="margin-top: 20px; margin-bottom: 40px;">MORE!</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script>window.IMGSERVE = "<%= config.url %>"; window.ENDPOINT = "<%= endpoint %>"</script>
    <script src="/scripts/grid.js"></script>
</body>

</html>