<!DOCTYPE html>
<html>

<head>
    <%- include('partials/meta'); %>
    <link rel="stylesheet" href="/css/grid.css">
</head>

<body>
    <%- include('partials/navbar'); %>
    <section id="photos">
        <% data.map((image)=>{%>
            <img class="lazy" data-src="<%= config.url + image.file %>" alt="">
        <%}) %>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>
    <script>
        (function() {
            var ll = new LazyLoad({
                elements_selector: ".lazy",
            })
        })()
    </script>
</body>

</html>