{{define "pages"}}
    <!DOCTYPE html>
    <html>

    <head>
        {{template "meta" .}}
        <style>
            .btn {
                width: 150px;
                margin-bottom: 15px;
            }
        </style>
    </head>

    <body>
    {{template "navbar" .}}
    <div class="centered">
        <div class="terminal-card">
            <header>Pages!</header>
            <div>Here are all the different pages you can explore.</div>
            <div>
                {{range .}}
                    <button class="btn btn-default btn-ghost" onclick="gotoPage('{{.}}')">{{.}}</button>
                {{end}}
            </div>
            <p style="margin-bottom: 10px">If you want to use our API click <a href="/docs">here</a></p>
        </div>
    </div>

    <script>
        function gotoPage(param) {
            if (param === "sfw") {
                window.location.replace(`/`)
                return
            }
            window.location.replace(`/${param}`)
        }
    </script>
    </body>
    </html>
{{end}}