{{define "upload"}}
  <!DOCTYPE html>
  <html>

  <head>
    {{template "meta" .}}
    <link rel="stylesheet" href="/static/css/upload.css">
  </head>

  <body>
  {{template "navbar" .}}

  <div>
    <div class="terminal-alert terminal-alert-primary" id="adminBox" style="text-align: center; max-width: 500px; margin: 0 auto; margin-top: 70px; visibility: hidden;">You are in admin mode, make sure you upload to the correct category. Post apprival is disabled for you!</div>
    <div class="terminal-alert" id="responseBox" style="text-align: center; max-width: 500px; margin: 0 auto; margin-top: -70px; visibility: hidden;"></div>

    <div id="guidelineModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p style="font-size: 20px;">Upload Information</p>
        <p>1. Upload to the correct category</p>
        <p>2. All uploads are sent to the approval area after they are uploaded, they will be reviewed before going public</p>
        <!-- <p>3. You may only upload 15 images per 10 minutes, if you try more you will be rate limited, this is to prevent spam</p> -->
        <p>4. No clearly underage appearing characters(nsfw), some are allowed but do not take it too far</p>
        <p>5. No illegal content, do not post anything that is deemed illegal by the US</p>
      </div>

    </div>

    <div id="fileForm" class="centered" style="display: grid;">
      <img src="/static/images/upllogo.png" style="width: 300px; margin-bottom: 30px;">
      <p style="font-size: 30px; margin: 0 auto; margin-bottom: 30px;">Upload Image!</p>

      <div class="btn-group" style="margin: 0 auto;">
        <select onchange="reDefOpt();" class="btn btn-default btn-ghost" id="select" style="width: 120px; height: 40px;">
          {{range .}}
            <option>{{.}}</option>
          {{end}}
        </select>
        <div id="zone" class="zone btn btn-primary btn-ghost" style="width: 155px; height: 40px;">File here!</div>
      </div>
      <a id="guideBTN" style="margin: 0 auto; margin-top: 10px;">Guidelines</a>
    </div>

  </div>

  <script src="/static/scripts/upload.js"></script>
  </body>

  </html>
{{end}}