{{define "meta"}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Base Meta -->
    <title>Waifu.pics</title>
    <meta name="description" content="A very large user controlled image database">
    <meta name="keywords" content="nekos, catgirl, nsfw, sfw, nyaa, images, lewd, neko images, meow, anime, manga, anime, waifu, pics, discord, api">
    <meta name="theme-color" content="#69caff">
    <link rel="icon" href="/static/images/favicon.png">
    <!-- CSS Shit -->
    <link rel="stylesheet" href="/static/vendor/terminal.min.css"/>
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Dropzone -->
    <link rel="stylesheet" href="/static/vendor/dropzone/basic.min.css">
    <link rel="stylesheet" href="/static/vendor/dropzone/dropzone.min.css">
    <script src="/static/vendor/dropzone/dropzone.min.js"></script>
    <!-- Axios -->
    <script src="/static/vendor/axios.min.js"></script>
{{end}}