{{define "navbar"}}
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="topnav">
    <a id="HOMETAB" class="NAVTAB" href="/"><span>HOME</span></a>
    <span id="hideLinks" class="hidden">
      <a id="NSFWTAB" class="NAVTAB" href="/nsfw">NSFW</a>
      <a id="PAGESTAB" class="NAVTAB" href="/pages">MORE</a>
      <a id="UPLOADTAB" class="NAVTAB" href="/upload">UPLOAD</a>
    </span>
    <a href="javascript:void(0);" class="icon" onclick="menuToggle()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <script src="/static/scripts/navbar.js"></script>
{{end}}