name: Go

on:
  push:
    branches: [ v2 ]
  pull_request:
    branches: [ v2 ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Move
      run: cd ./src/server

    - name: Get JWT
      run: go get github.com/gbrlsnchs/jwt/v3

    - name: Get dependencies
      run: go get -v ./...

    - name: Build
      run: go build -v .
